.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
    font-size: 14px;
    font-weight: 700;
    margin: 3rem 0 2rem;
    width: 100%;
  }
  
  .filters > div {
    flex: 1; /* Hace que cada div tome espacio equitativamente */
    display: flex;
    flex-direction: column;
  }

  /* Estilos para dispositivos móviles */
  @media (max-width: 600px) {
  .filters {
    flex-direction: column; /* Cambia la dirección a columna */
    align-items: stretch; /* Ajusta los elementos al estiramiento vertical */
    gap: 1.5rem; /* Reduce el espacio entre los elementos */
  }

  .filters > div {
    width: 100%; /* Ocupa todo el ancho disponible */
  }
}

  