.custom-pagination .MuiPaginationItem-root {
    color: white;
    border-color: rgb(25,114,201);
}

.custom-pagination .MuiPaginationItem-root.Mui-selected {
    background-color: rgb(25,114,201);
    color: white;
    border-color: rgb(25,114,201);
}

.custom-pagination .MuiPaginationItem-root:hover {
    background-color: rgba(25,114,201, 0.1);
}

.custom-pagination .MuiPaginationItem-ellipsis {
    color: white !important;
}
